.header-banner-wrapper
	a(href="#!").header-banner
		img(src="./img/l2s_main.webp", width="1000" height="400"  alt="img")
		.header-title
			h1.h1
				span TOP ACTION GAMES
				span YOU CAN PLAY RIGHT NOW!
				