//================ MAIN ==============
main.main
	section.game-info
		h2.h2 Best Free Action Games

		.prev-text The best action games and FPS! Single or multiplayer online war games let you take control of one or more soldiers to push enemy lines through all sorts of different weapons. In action games you complete various tactical operations, for example, “capture the flag” where you must take possession of enemy lines in cooperation with other players. Action games are either in first-person shooter (FPS) or third-person shooter (TPS) view.
		//====== games table =======
		.games-info
			.games-info-header
				.game-img  Game
				.game-desc Description
            
				.game-count  Player Base
				.game-rating Rating
				
			.games-info-cards
				//======== first card =================
				+card('war-robots', ' War Robots', '1.5', '4.5')
					p War Robots is an action-packed multiplayer online game for mobile and desktop platforms with giant robots, unique weapons, and intense 6 vs 6 player battles. Perfect for fans of giant robot battles and multiplayer online games.
				
				
				//======== single card =================
				+card('mech-card', 'Mech Arena', '1', '5')
					p Mech Arena is an innovative fast-paced PvP mech shooter with competitive mayhem built for everyone. Choose from dozens of Weapons and Mechs, each with their own special abilities for endless combinations.

				//======== single card =================
				+card('enlisted-card', 'Enlisted', '18', '5')
					p Prepare yourself for the intense and bloody violence of a World War II battle ground. The game is built around the clinical reconstruction of historic and legendary weapons used during the real battles…
