//================ MAIN ==============
main.main.pt-70
	
	h2.h2 Contact Us

	.text-16
		p For any questions regarding mmoXgames.com, please contact us via our email:
	.text-small
		a(href="mailto:info@mmoxgames.com") info@mmoxgames.com