
header.header
	//======== header menu ===============
	.header-content
		#overlay
		//======= logo =======
		a(href="#!").logo
			img(src="./img/logo.webp", width="240" height="60" alt="alt")
		
		//======= header menu =======
		ul.header-menu
			li.active
				a(href="index.html") Home
			li
				a(href="role-playing.html") Role-Playing
			li
				a(href="action.html") Action
			li
				a(href="strategy.html") Strategy
			li
				a(href="wargames.html") War Games

		//====== gamburger menu for mobile
		button.toggle-menu
			span
	

	


