header.header
	//======== header menu ===============
	.header-content
		//======= logo =======
		a(href="#!").logo
			img(src="./img/logo.png", width="240" height="60" alt="alt")
		
		//======= header menu =======
		
		ul.header-menu
			li.active
				a(href="index.html") Home
			li
				a(href="role-playing.html") Role-Playing
			li
				a(href="action.html") Action
			li
				a(href="strategy.html") Strategy
			li
				a(href="wargames.html") War Games

	
	a(href="#!").header-banner
		img(src="./img/main-banner.webp", width="1000" height="400"  alt="img")
		.header-title
			h1.h1
				span Best Strategy Game
				span of 2023
