mixin card(imgSrc, title, num, rating)
	.game-card
		
		a(href="#!").game-img
			img(src="./img/"+ imgSrc +".webp", width="400" height="400"  alt="")
		
		a(href="#!").game-desc
			.h3 !{title}
			block

		.game-count
			.text-big #{num}+
			span MILLION
		
		
		.game-rating
			//===== rating  block=====
			p.rating-block(data-rating)
				span.rating-block-passive
					i
					i
					i
					i
					i
				span.rating-block-active(data-count=""+ rating)
					i
					i
					i
					i
					i
			.btn Play now!
			a(href="#!").text-link Learn more
header.header
	//======== header menu ===============
	.header-content
		//======= logo =======
		a(href="#!").logo
			img(src="./img/logo.webp", width="240" height="60" alt="alt")
		
		//======= header menu =======
		ul.header-menu
			li.active
				a(href="index.html") Home
			li
				a(href="role-playing.html") Role-Playing
			li
				a(href="action.html") Action
			li
				a(href="strategy.html") Strategy
			li
				a(href="wargames.html") War Games

		//====== gamburger menu for mobile
		button.toggle-menu
			span
	
	a(href="#!").header-banner
		img(src="./img/main-banner.webp", width="1000" height="400"  alt="img")
		.header-title
			h1.h1
				span Best Strategy Game
				span of 2023

//================ MAIN ==============
main.main
	section.game-info
		h2.h2 Top Free-To-Play MMO Games of 2023

		//====== games table =======
		.games-info
			.games-info-header
				.game-img  Game
				.game-desc Description
            
				.game-count  Player Base
				.game-rating Rating
				
			.games-info-cards
				//======== first card =================
				+card('sos-card', 'State of Survival', '45', '4.5')
					p After the year of 2018, the world was plunged into a state of chaos as the virus took over everything. Take control of your main characters as you make the herculean effort to regain a foothold in the perilous world that has now been created by the virus.
				
				
				//======== single card =================
				+card('raid-card', 'RAID: Shadow Legends', '30', '5')
					p Raid: Shadow Legends is a fantasy theme-based role-playing game that involves the gacha mechanics. This game’s storyline takes place in the fictitious realm of Teleria that has been overpowered and conquered by the Dark Lord Siroth…
				
				//======== single card =================
				+card('war-robots', 'War Robots', '1.5', '4.5')
					p War Robots is an action-packed multiplayer online game for mobile and desktop platforms with giant robots, unique weapons, and intense 6 vs 6 player battles. Perfect for fans of giant robot battles and multiplayer online games.
				
				//======== single card =================
				+card('klondike-card', 'Klondike: The Lost Expedition', '15', '4.5')
				
					p The world of Klondike throws you into an intense predicament. You are alone in the snow swept state during the time of the gold rush, and are now in search of your father’s long-lost expedition.
				
				//======== single card =================
				+card('rok-card', 'Rise of Kingdoms', '11', '5')
					p Join us in the ultimate test of strategy and tactics! Through the thirteen stages of great military and tactical history, you will be given a serious of opportunities to prove yourself as a mastermind in war and battle.
				
				//======== single card =================
				+card('got-card', 'Game of Thrones', '30', '5')
					p Game of Thrones – Fight for the Iron Throne is a tactical strategy-based game inspired from the famous TV series Game of Thrones. The gameplay includes the aspects of both building the great cities and implementing the combat strategies…
				
				//======== single card =================
				+card('mech-card', 'Mech Arena', 1, '5')
					p Mech Arena is an innovative fast-paced PvP mech shooter with competitive mayhem built for everyone. Choose from dozens of Weapons and Mechs, each with their own special abilities for endless combinations.				
				
				//======== single card =================
				+card('wot-card', 'World of Tanks', '80', '5')
					p World of Tanks is a tank warfare-based MMO game that is designed on a freemium business model. You can play the game free of cost; however, you have to pay if you want to get access to this game’s premium features…				
				
				//======== single card =================
				+card('koa-card', 'King of Avalon', '100', '5')
					p Arm yourself! As you must come prepared to tackle the tumultuous world of dragons, an ever-present threat to the lives of our heroes that strive to eliminate the beasts of the land. In your mission to conquer the ancient monsters that seek to destroy your world…				
				
				//======== single card =================
				+card('foe-card', 'Forge of Empires', '35', '5')
					p Forge of Empires is a strategy-based game where you build your empire and travel through the ages. You start your gameplay in ancient times by creating a settlement with almost nothing but a handful of people and a few resources…

				//======== single card =================
				+card('enlisted-card', 'Enlisted', '35', '5')
					p Prepare yourself for the intense and bloody violence of a World War II battle ground. The game is built around the clinical reconstruction of historic and legendary weapons used during the real battles…


		.game-rules
			p Today, the gaming industry is packed with a great range of massively multiplayer online (MMO) games, covering a number of different genres. You will befriend gamers worldwide as you begin your quest through the many genres available. Among the many options, we have first-person shooting games, role-playing games, strategy-based games, and a whole lot more. With access to a wide range of MMO games, it can be tough to decide which game you should play. To make things easier for our customers, we deeply research the games in this genre, gathering information on the latest specifications so that we can make fitting recommendations for those who come to our website. The MMO games that we have on offer come with all the action that one could imagine, from exploring the great expanses of space, to loot grinding games of the fantasy world. No matter what kind of game genre you love, you will find the right quest for you within our recommendations.

			h2 Why play Free to Play Games?

			p When you love to do something, many may try to take advantage of this by putting a steep price on it. This is not the case with MMO gaming. With us, you can enjoy your favourite games all in one place, but without the hefty price tag that can so often come with other sites in the industry. If you are tired of high monthly subscription rates, and large price tags on the latest game, we are here to help! But this is not the only reason to check us out:

			.border-block
				h3 Skill Improvement:
				p The free MMO games have a larger audience as compared to the paid versions. Therefore, in order to compete and stand apart from such a massive crowd, you’ll have to make improvements on your game every day. Bit by bit, you will become a better player, gaining skills that will allow you to excel in multiple frameworks.
				h3 Easily Accessible:
				p Almost all of these free online games are smaller in size and can be played easily. Some of the MMO games also have their mobile versions so that the user never gets out of touch from their gaming characters. In addition to this, the games on offer do not require a sizeable amount of storage space.
				h3 More Variety:
				p The free gaming market has hundreds of MMO games. Gamers get a great range to pick from according to their level of interest. From newbie to experienced gamer, there’s a perfect game just waiting to be chosen.
			h2 How to Choose the Right MMO Game?
			p When it comes to picking your MMO game, it should be no more difficult than simply following your interests. Alongside this, we also have some other factors that you may want to take into account. Here are a few aspects every gamer should consider when picking an MMO game:
			
			.border-block
				h3 Your Preferred Combat Level:
				p Take into consideration the volume of combat that you would like to see in your game. Most people like to fight massive armies while others much prefer strategy play when given the choice.
				h3 Maturity Level:
				p It depends on what kind of games interest you. If you’re in your 30s and still love to play Super Mario, you are far from one of a kind. With this. consider whether you want the game to be friendly for a younger audience or not. There is no reason to differentiate between MMO games based upon the audience age group. However, strongly consider whether you just feel like having fun, or play the game with full intensity, dedicating all your concentration to it.

				p I don’t want you to differentiate between MMO games based upon the audience age group. However give a strong thought to whether you just feel like having fun and kill your time or play the game with full intensity by dedicating all your concentration to it.

				h3 Characters:
				p Make an assessment in order to decide what kind of characters you wish to play in the game. It may be based on gender, colour or physical features. However, for many people it doesn’t really matter what character they pick, the gaming experience is valued more.
				h3 Are You Region Conscious?
				p Many people like their games to be built around an environment which suits them. Personally, Roman fortresses and mountains create a stimulating and immersive environment that greatly intrigues me in this way. There are a lot of MMOs with plots revolving around the Asian regions, why not give one of those a try?
			
			h2 How do we Evaluate Games?
			p While analysing and gathering information about the latest MMO games, we keep specific facts ahead of us. In the first instance, we place a lot of focus on the game's vital elements, this includes gameplay, and versatility. In the second step, we go through the specifications and details of the game. Finally, we consider reviews left by other players to get a better perspective surrounding the game — our ratings of different games based on all factors discussed above. Our whole effort is based to assist you in selecting a the very best MMO for you. The ratings for games that we listed there were compiled according to critics' reviews on our website, but third-parties might incline them.
