//================ MAIN ==============
main.main
	section.game-info
		h2.h2 Best Free Role-Playing Games

		.prev-text We have has reviewed the best free online MMORPG games for you. MMORPGs are online multiplayer games in which you play with one or more characters in a fictional world (often fantasy or sci-fi). MMORPGs allow you to interact with thousands of other players in a virtual universe of a game. Games are usually web browser-based (no download) or client-based, means that you will need to download it on your device.
		//====== games table =======
		.games-info
			.games-info-header
				.game-img  Game
				.game-desc Description
            
				.game-count  Player Base
				.game-rating Rating
				
			.games-info-cards
				//======== first card =================
				+card('raid-card', 'RAID: Shadow Legends', '30', '5')
					p Raid: Shadow Legends is a fantasy theme-based role-playing game that involves the gacha mechanics. This game’s storyline takes place in the fictitious realm of Teleria that has been overpowered and conquered by the Dark Lord Siroth…
				
				
				//======== single card =================
				+card('loa-card', 'League of Angels – Heaven’s Fury', '20', '5')
					p League of Angels – Heaven’s Fury is a browser-based MMO game specifically designed for multiplayer online gaming users…
					

				

