//================ MAIN ==============
main.main
	section.game-info
		h2.h2 Best Free Strategy Games

		.prev-text We selected for you the best online strategy browser games. Strategy games allow you to take control and develop a village, an army or a downright world! Online strategy games also have a highly large and developed community appearance with which you can create alliances, betrayals, but also unions. Play a game from your browser (no download) or download it on your device.
		//====== games table =======
		.games-info
			.games-info-header
				.game-img  Game
				.game-desc Description
            
				.game-count  Player Base
				.game-rating Rating
				
			.games-info-cards
				//======== first card =================
				+card('sos-card', 'State of Survival', '45', '5')
					p After the year of 2018, the world was plunged into a state of chaos as the virus took over everything. Take control of your main characters as you make the herculean effort to regain a foothold in the perilous world that has now been created by the virus.
				
				//======== single card =================
				+card('loa-card', 'League of Angels – Heaven’s Fury', '20', '5')
					p League of Angels – Heaven’s Fury is a browser-based MMO game specifically designed for multiplayer online gaming users…

				
				//======== single card =================
				+card('klondike-card', 'Klondike: The Lost Expedition', '15', '4.5')
				
					p The world of Klondike throws you into an intense predicament. You are alone in the snow swept state during the time of the gold rush, and are now in search of your father’s long-lost expedition.
				
				//======== single card =================
				+card('rok-card', 'Rise of Kingdoms', '11', '5')
					p Join us in the ultimate test of strategy and tactics! Through the thirteen stages of great military and tactical history, you will be given a serious of opportunities to prove yourself as a mastermind in war and battle.

				//======== single card =================
				+card('got-card', 'Game of Thrones', '30', '5')
					p Game of Thrones – Fight for the Iron Throne is a tactical strategy-based game inspired from the famous TV series Game of Thrones. The gameplay includes the aspects of both building the great cities and implementing the combat strategies…
				
				//======== single card =================
				+card('koa-card', 'King of Avalon', '100', '5')
					p Arm yourself! As you must come prepared to tackle the tumultuous world of dragons, an ever-present threat to the lives of our heroes that strive to eliminate the beasts of the land. In your mission to conquer the ancient monsters that seek to destroy your world…	

				//======== single card =================
				+card('foe-card', 'Forge of Empires', '35', '5')
					p Forge of Empires is a strategy-based game where you build your empire and travel through the ages. You start your gameplay in ancient times by creating a settlement with almost nothing but a handful of people and a few resources…
					
				//======== single card =================
				+card('elvenar', 'Elvenar ', '23', '5')
					p Elvenar is the fantasy-based city building MMORTS game, and its gameplay is quite similar to other major city building games. As a player, you have to choose any one civilization from Human or Elven based on your interest in building a human or elves city…

