//================ MAIN ==============
main.main
	section.game-info
		h2.h2 Best Free War Games

		.prev-text We have reviewed the best free online war games. These games allow you to interact with thousands of other players in a virtual universe of a game. Games are usually web browser-based (no download) or client-based, means that you will need to download it on your device.
		//====== games table =======
		.games-info
			.games-info-header
				.game-img  Game
				.game-desc Description
            
				.game-count  Player Base
				.game-rating Rating
				
			.games-info-cards
				//======== first card =================
				
				+card('war-robots', 'War Robots', '1.5', '4.5')
					p War Robots is an action-packed multiplayer online game for mobile and desktop platforms with giant robots, unique weapons, and intense 6 vs 6 player battles. Perfect for fans of giant robot battles and multiplayer online games.

				//======== single card =================
				+card('wot-card', 'World of Tanks', '80', '5')
					p World of Tanks is a tank warfare-based MMO game that is designed on a freemium business model. You can play the game free of cost; however, you have to pay if you want to get access to this game’s premium features…

				//======== single card =================
				+card('enlisted-card', 'Enlisted', '35', '5')
					p Prepare yourself for the intense and bloody violence of a World War II battle ground. The game is built around the clinical reconstruction of historic and legendary weapons used during the real battles…
				
				//======== single card =================
				+card('warthunder', 'War Thunder', '60', '4.5')
					p War Thunder is a vehicular combat MMO game that includes more than 500 vehicles and planes. All the combat vehicles and aircraft used in this game are historically accurate and are from World War I, the Spanish Civil War, World War II, Vietnam, and the Cold War…

				//======== single card =================
				+card('wow', 'World of Warships', '60', '4.5')
					p World of Warships is a theme-based naval warfare MMO game. It is a team-based game where 2-3 players join forces and fight a battle against other players (PVP) or computer-controlled enemies (PVE)…