.header-banner-wrapper
	a(href="#!").header-banner
		img(src="./img/enlisted-banner.webp", width="1000" height="400"  alt="img")
		.header-title
			h1.h1
				span TOP WAR GAMES

				span YOU CAN PLAY RIGHT NOW!
