extends ../layouts/layout.pug

block content
	//================= HEADER =================
	include ../sections/_header.pug
	
	
	include ../sections/_contacts-main.pug
	include ../sections/_footer.pug
	
	
	
block variables
	-var title = "Contacts";