extends ../layouts/layout.pug

block content
	//================= HEADER =================
	include ../sections/_header.pug
	//======= .header-banner ========
	include ../sections/_war-banner
	
	include ../sections/_war-main.pug
	
	//====== footer=======
	include ../sections/_footer.pug
	
block variables
	-var title = "War games";